{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid menu-bg">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-1 text-center title">Hubris</h1>
        </div>
    </div>
    <div class="row">
        <div class="d-grid gap-2 col-6 offset-3 col-lg-4 offset-lg-4">
                <a class="button text-center" href="">login</a>
                <a class="button text-center" href="{% url 'register' %}">Register</a>
                <a class="button text-center" href="">Full version</a>
                <a class="button text-center" href="">Play</a>
                <a class="button text-center" href="">How to play</a>
                <a class="button text-center" href="">Leaderboard</a>
        </div>
    </div>
</div>


{% endblock %}
