{% extends "base.html" %}

{% load static %}
<!-- block header %} -->
{% block header %}
{% include "../includes/header.html" %}

{% block extra_js %}
<script src="{% static 'js/force_landscape.js' %}"></script>
{% endblock %}

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}


{% block body_background %}class="menu-bg"{% endblock %}

{% block content %}
<!-- landscape mode screen overlay -->
<div class="container-fluid d-none landscape-screen">
    <div class="row h-100 display-flex justify-content-center align-items-center">
        <div class="col-6 text-center menu-banner medium-text">
            <h1>Please use landscape mode</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-center title mb-1 medium-large-text">select your hero</h1>
        </div>
    </div>
    <div class="row menu d-flex justify-content-around align-items-center">
        <!-- fire wizard -->
        <div class="col-3 wizard-card h-100 menu-banner">
            <!-- title -->
            <div class="row">
                <h2 class="text-center mb-0 medium-small-text">fire wizard</h2>
            </div>
            <!-- images -->
            <div class="row p-0 h-50">
                <div class="col-2 p-0">
                    <ul class="list-unstyled mt-3 mb-2 medium-small-text stroke">
                        <!-- fire defence -->
                        <li class="mt-lg-2 fire stroke">
                            <span class="fa-stack stat-icon fa-fw">
                                <i class="fas fa-stack-1x fa-shield-alt"></i>
                                <span class="fa-stack-1x fa-inverse stat-number">3</span>
                            </span>
                        </li>
                        <!-- health icon -->
                        <li class="mt-lg-2 fire stroke">
                            <span class="fa-stack stat-icon fa-fw">
                                <i class="fas fa-stack-1x fa-heart"></i>
                                <span class="fa-stack-1x fa-inverse stat-number">6</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-8 d-flex align-items-center">
                    {% for player_type in player_type %}
                    {% if player_type.selected == 'FR' %}
                    <img class="wizard-select-image" src="{{ MEDIA_URL }}{{player_type.image_idle}}" width="100%"
                        alt="fire wizard">
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-2 p-0">
                    <ul class="list-unstyled mt-3 mb-2 medium-small-text stroke select-player-icons-right">
                        <!-- fire attack -->
                        <li class="mt-lg-2 fire stroke">
                            <span class="fa-stack stat-icon fa-fw">
                                <i class="fas fa-stack-1x fa-fire-alt"></i>
                            </span>
                        </li>
                        <!-- mana icon -->
                        <li class="mt-lg-2 mana stroke">
                            <span class="fa-stack stat-icon fa-fw">
                                <i class="fas fa-stack-1x fa-flask"></i>
                                <span class="fa-stack-1x fa-inverse stat-number">4</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- description -->
            <div class="row h-25 d-flex align-items-end">
                <span>
                    <p class="text-center small-text">The fire wizard starts with 3 fire defence and the dragonsbreath
                        spell.</p>
                </span>
            </div>
            <!--fire select button -->
            <div class="row">
                <div class="col-12 text-center">
                    <form method="POST" action="{% url 'profiles:game_setup' 'FR' %}">
                        {% csrf_token %}
                        <button type="submit" name="player-select" class="button medium-text mb-2">Select</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- ice wizard -->
        <div class="col-3 wizard-card h-100 menu-banner">
            <!-- title -->
            <div class="row">
                <h2 class="text-center mb-0 medium-small-text">Ice wizard</h2>
            </div>
            <!-- images -->
            <div class="row h-50">
                <div class="col-2 p-0">
                    <ul class="list-unstyled mt-3 mb-2 medium-small-text stroke">
                        <!-- fire defence -->
                        <li class="mt-lg-2 fire stroke">
                            <span class="fa-stack stat-icon fa-fw">
                                <i class="fas fa-stack-1x fa-shield-alt"></i>
                                <span class="fa-stack-1x fa-inverse stat-number">3</span>
                            </span>
                        </li>
                        <!-- health icon -->
                        <li class="mt-lg-2 fire stroke">
                            <span class="fa-stack stat-icon fa-fw">
                                <i class="fas fa-stack-1x fa-heart"></i>
                                <span class="fa-stack-1x fa-inverse stat-number">6</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-8 d-flex align-items-center">
                    {% for player_type in player_type %}
                    {% if player_type.selected == 'IC' %}
                    <img class="wizard-select-image" src="{{ MEDIA_URL }}{{player_type.image_idle}}" width="100%"
                        alt="ice wizard">
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-2 p-0">
                    <ul class="list-unstyled mt-3 mb-2 medium-small-text stroke select-player-icons-right">
                        <!-- ice defence -->
                        <li class="mt-lg-2 ice stroke">
                            <span class="fa-stack stat-icon fa-fw">
                                <i class="fas fa-stack-1x fa-snowflake"></i>
                            </span>
                        </li>
                        <!-- mana icon -->
                        <li class="mt-lg-2 mana stroke">
                            <span class="fa-stack stat-icon fa-fw">
                                <i class="fas fa-stack-1x fa-flask"></i>
                                <span class="fa-stack-1x fa-inverse stat-number">4</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- description -->
            <div class="row h-25  d-flex align-items-end">
                <span>
                    <p class="text-center small-text">The Ice wizard starts with 4 frost defence and the frost storm
                        spell.
                    </p>
                </span>
            </div>
            <!-- ice select button -->
            <div class="row">
                <div class="col-12 text-center">
                    <form method="POST" action="{% url 'profiles:game_setup' 'IC' %}">
                        {% csrf_token %}
                        <button type="submit" name="player-select" class="button medium-text mb-2">Select</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- thunder wizard -->
        <div class="col-3 h-100 wizard-card menu-banner">
            <div class="row">
                <!-- title -->
                <h2 class="text-center mb-0 medium-small-text">Thunder wizard</h2>
            </div>
            <!-- images -->
            <div class="row h-50">
                <div class="col-2 p-0">
                    <ul class="list-unstyled mt-3 mb-2 medium-small-text stroke">
                        <!-- lightning defence -->
                        <li class="mt-lg-2 lightning stroke">
                            <span class="fa-stack stat-icon fa-fw">
                                <i class="fas fa-stack-1x fa-shield-alt"></i>
                                <span class="fa-stack-1x fa-inverse stat-number">3</span>
                            </span>
                        </li>
                        <!-- health icon -->
                        <li class="mt-lg-2 fire stroke">
                            <span class="fa-stack stat-icon fa-fw">
                                <i class="fas fa-stack-1x fa-heart"></i>
                                <span class="fa-stack-1x fa-inverse stat-number">6</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-8 d-flex align-items-center">
                    {% for player_type in player_type %}
                    {% if player_type.selected == 'LN' %}
                    <img class="wizard-select-image" src="{{ MEDIA_URL }}{{player_type.image_idle}}" width="100%"
                        alt="thunder wizard">
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-2 p-0">
                    <ul class="list-unstyled mt-3 mb-2 medium-small-text stroke select-player-icons-right">
                        <!-- lightning attack -->
                        <li class="mt-lg-2 lightning stroke">
                            <span class="fa-stack stat-icon fa-fw">
                                <i class="fas fa-stack-1x fa-bolt"></i>
                            </span>
                        </li>
                        <!-- mana icon -->
                        <li class="mt-lg-2 mana stroke">
                            <span class="fa-stack stat-icon fa-fw">
                                <i class="fas fa-stack-1x fa-flask"></i>
                                <span class="fa-stack-1x fa-inverse stat-number">4</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- description -->
            <div class="row h-25 d-flex align-items-end">
                <span>
                    <p class="text-center small-text">The thunder wizard starts with 2 lightning defence and the
                        thunderstorm spell.
                    </p>
                </span>
            </div>
            <!-- lightning select button -->
            <div class="row">
                <div class="col-12 text-center">
                    <form method="POST" action="{% url 'profiles:game_setup' 'LN' %}">
                        {% csrf_token %}
                        <button type="submit" name="player-select" class="button medium-text mb-2">Select</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- current game selection menu -->
    {% if game %}
    <div class="row h-100 w-100 z2000 current-game-menu position-absolute">
        <div class="col-12 align-self-center justify-self-center">
            <div class="row">
                <div class="col-6 offset-3 menu-banner p-3">
                    <div class="row">
                        <div class="col-6 text-center">
                            <form method="POST" action="{% url 'profiles:continue_game' 'y' %}">
                                {% csrf_token %}
                                <button type="submit" name="continue_game"
                                    class="button medium-text mb-2">Continue</button>
                            </form>
                        </div>
                        <div class="col-6 text-center">
                            <form method="POST" action="{% url 'profiles:continue_game' 'n' %}">
                                {% csrf_token %}
                                <button type="submit" name="continue_game"
                                    class="button medium-text mb-2">New game</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}