{% extends "base.html" %}



{% load crispy_forms_tags %}
{% load socialaccount %}

{% block header %}
{% include "../includes/header.html" %}
{% endblock %}

{% block body_background %}class="menu-bg"{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row menu d-flex align-items-center">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 p-4 menu-banner">
            <div>
            </div>
            <form class="register-form" method="post">
                {% csrf_token %}
                {{ login_form|crispy }}
                <div class="text-center">
                    <button type="submit" class="button medium-text m-2 m-lg-4">Login</button>
                    <h4 class="text-muted medium-small-text text-center">
                        Or if u haven't:
                    </h4>
                    <a class="medium-small-text p-2 button text-center" href="{% url 'home:register' %}">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}