.select-player-icons-right{
    transform: translateX(-80%);
}

.wizard-card{
    max-height: 500px;
}

.wizard-select-image{
    width: 100%;
    object-fit: contain;
}

.current-game-menu{
    top: 0px;
    left: 24px;
    background-color: rgba(0, 0, 0, 0.4);;
}