html{
    height: 100%;
    width: 100%;
}

/* colors */

:root {
    --ice: #0CF9F8;
    --offwhite: #FFFBE7;
    --drain: #2FE809;
    --fire: #FF5C28;
    --healing: #BED2F8;
    --golem: #D08617;
    --grey: #A0A0A0;
    --lightning: #F91EED;
    --mana: #FFE922;
    --xp-color:#E8FEFF;
  }

.ice{
    color: var(--ice);
}

.drain{
    color: var(--drain);
}

.fire{
    color: var(--fire);
}

.healing{
    color: var(--healing);
}

.golem{
    color: var(--golem);
}

.lightning{
    color: var(--lightning);
}

.mana{
    color: var(--mana);
}

.xp-color{
    color: var(--xp-color);
}

/* text */

body, h1, h2, h3, h4, h5, p{
    font-family: 'Stylish', sans-serif;
}

.large-text{
 font-size: calc(20px + 8vw);
}

.medium-large-text{
    font-size: calc(10px + 3vw);
}

.medium-text{
    font-size: calc(16px + 0.8vw);
}

.medium-small-text{
    font-size: calc(10px + 1.4vw);
}

.small-text{
    font-size: calc(6px + 1.2vw);
    line-height: 100%;
}

.title{
    color: var(--offwhite);
    -webkit-text-stroke: 1px black;
    text-shadow: 5px 5px 8px black;
    line-height:0.8;
}

.stroke{
    -webkit-text-stroke: 0.7px black;
}

/* main menu */
.menu{
    height: 70vh;
}

.menu-bg{
    background-image: url('../../media/game_background_3840_2160.png');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-bg-banner{
    background-image: url('../../media/game_background_banner_3840_2160.png');
    width: 100vw;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-banner{
    border-radius: 5px;
    font-family: 'Stylish', sans-serif;
    font-size: calc(12px + 0.5vw);
    background-color: var(--offwhite);
    border: black solid 0.8px;
    margin: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.messages-container{
    position: fixed;
    z-index: 3000;
}

/* buttons */

a.button, button.button {
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Stylish', sans-serif;
    background-color: var(--offwhite);
    border: black solid 0.8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

a.button:active {
    transform: translateY(4px);
  }

a.button:hover, button.button:hover{
    color: black;
    box-shadow: 0px 4px 4px 4px rgba(255, 255, 255, 0.25),0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    cursor: pointer;
}

.landscape-screen{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999;
    width: 100vw;
    height: 100vh;
    background-color:var(--offwhite);
}

/* images */

.screenshot-image{
    width: 100%;
}

/* media queries */

@media screen and (max-width: 1820px) {
    .menu-bg{
        background-image: url('../../media/game_background_1820_1024.png');
    } .menu-bg-banner{
        background-image: url('../../media/game_background_banner_1820_1024.png');
    }
}

@media screen and (max-width: 834px) {
    .menu-bg{
        background-image: url('../../media/game_background_834_1194.png');
    }.menu-bg-banner{
        background-image: url('../../media/game_background_banner_834_1194.png');
    }
}