<header> 
{% if request.path == '/how-to-play/' %}
<div class="container-fluid menu-bg-banner">
{% else %}
<div class="container-fluid">
{% endif %}
        <div class="row d-flex align-items-center">
            <div class="col-6 col-sm-6 col-md-8 col-xl-10">
                <h1 class="title text-center">Hubris</h1>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-xl-2">
                <div class="row">
                    <div class="d-grid gap-2 col-12">
                        <a class="button text-center" href="{% url 'home:main_menu' %}">
                            <h2 class="m-1">Main menu</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>