<header>
    {% if request.path == '/how-to-play/' or request.path == '/checkout/checkout/' %}
    <div class="container-fluid menu-bg-banner">
        {% else %}
        <div class="container-fluid">
            {% endif %}
            <div class="row d-flex align-items-center">
                <div class="col-6 col-sm-8 col-md-9 col-xl-10">
                    <h1 class="title text-center large-text">Hubris</h1>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                    <div class="row">
                        <!-- main menu button -->
                        <div class="d-grid gap-2 col-12">
                            <a class="button text-center medium-text" href="{% url 'home:main-menu' %}">Main menu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>