.stats-bar, .action-bar{
    border-radius: 5px;
    font-family: 'Stylish', sans-serif;
    background-color: var(--offwhite);
    border: black solid 0.8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.action-bar{
    width: fit-content;
    height: fit-content;
}

.stats-bar{
    height: fit-content;
    width: fit-content;
}

.battle-bg{
    background-image: url('../../../media/battle_background_3.png');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.battle-screen, .card-screen{
    position:fixed;
    height: 100vh;
}

.floor{
    width: 98%;
}

.z0{
    z-index: 0;
}

.z500{
    position: fixed;
    z-index: 500;
}

.z1000{
    position: fixed;
    z-index: 1000;
}

.z2000{
    position: fixed;
    z-index: 1000;
}