{% extends 'base.html' %}

{% load static %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'battle/css/battle.css' %}">
{% endblock %}

{% block body_background %}class="battle-bg"{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row m-2 z1000 floor">
        <div class="col-12">
            <!-- title and menu button -->
            <div class="row">
                <div class="col-12 title text-center">
                    <h1 class="fs-1 mb-0">Floor 15</h1>
                    <h2 class="fs-3">Phase 5</h2>
                </div>
                <!-- main menu button -->
                <div class="col-2 offset-9 mt-1 z500">
                    <div class="d-grid">
                        <a class="button fs-6 text-center" href="{% url 'home:main_menu' %}">
                            Menu
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row g-2">
        <!-- stats column left -->
        <div class="col-1 m-3 z500 stats-bar">
            <ul class="list-unstyled mt-2 mb-2 text-center">
                <!-- stats icons -->
                <li class="m-1 fire stroke"><i class="fas fs-3 fa-heart"></i></li>
                <li class="m-1 lightning stroke"><i class="fas fs-3 fa-shield-alt"></i></li>
                <li class="m-1 fire stroke"><i class="fas fs-3 fa-shield-alt"></i></li>
                <li class="m-1 ice stroke"><i class="fas fs-3 fa-shield-alt"></i></li>
                <li class="m-1 drain stroke"><i class="fas fs-3 fa-shield-alt"></i></li>
                <li class="m-1 golem stroke"><i class="fas fs-3 fa-shield-alt"></i></li>
                <li class="m-1 mana stroke"><i class="fas fs-3 fa-flask"></i></li>
                <li class="m-1 xp-color stroke"><i class="fas fs-3 fa-lightbulb"></i></li>
            </ul>
        </div>
        <!-- main battle screen -->
        <div class="col-12 z0 battle-screen">
            battle
        </div>
         <!-- Card screen -->
         <div class="col-12 z2000 card-screen">
            cards
        </div>
        <div class="col-12">
            <div class="row z500 fixed-bottom d-flex justify-content-center">
                <!-- action selection bar -->
                <div class="col-12 ml-4 mb-2 action-bar">
                    <ul class="d-flex justify-content-between">
                        <li class="m-1 d-inline">icon</li>
                        <li class="m-1 d-inline">icon</li>
                        <li class="m-1 d-inline">icon</li>
                        <li class="m-1 d-inline">icon</li>
                        <li class="m-1 d-inline">icon</li>
                        <li class="m-1 d-inline">icon</li>
                        <li class="m-1 d-inline">icon</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}