{% extends "base.html" %}

{% load static %}

{% block extra_js %}
<script src="{% static 'battle/js/actions.js' %}"></script>
<script src="{% static 'js/force_landscape.js' %}"></script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'battle/css/battle.css' %}">
{% endblock %}

{% block body_background %}class="battle-bg"{% endblock %}

{% block content %}
<!-- landscape mode screen overlay -->
<div class="container-fluid d-none landscape-screen">
    <div class="row h-100 display-flex justify-content-center align-items-center">
        <div class="col-6 text-center menu-banner medium-text">
            <h1>Please use landscape mode</h1>
        </div>
    </div>
</div>

<!-- message modal screen overlay -->
<div class="container-fluid d-none message-screen">
    <div class="row h-100 display-flex justify-content-center align-items-center">
        <div class="col-6 text-center menu-banner message medium-text">
            <h3 id="message-text" class="medium-small-text m-0">message</h3>
        </div>
    </div>
</div>

<div class="container-fluid">
    <!-- title and menu button -->
    <div class="row mt-1 floor z1000">
        <div class="col-12">
            <div class="row">
                <div class="col-12 title text-center">
                    <h1 class="medium-large-text mb-0">Score: {{ game.score }} Floor {{ game.current_game_floor_number }}
                    </h1>
                    <h2 class="medium-text game-phase-nr" data-phase="{{ current_game_floor.get_current_phase_display|lower }}">Phase {{ current_game_floor.get_current_phase_display }}</h2>
                    <h2 class="medium-small-text game-step-nr" data-step="{{ game.game_step }}"> game step: {{ game.game_step }}</h2>
                </div>
                <!-- main menu button -->
                <div class="col-2 offset-9 mt-md-4 z500">
                    <div class="position-relative d-grid">
                        <a class="position-relative button medium-text text-center" href="{% url 'home:main-menu' %}">
                            Menu
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- main game screen -->
    <div class="row">
        <!-- stats column left -->
        <div class="col-1 m-2 m-lg-4 z500 stats-bar">
            <!-- stats icons -->
            <ul class="list-unstyled mt-2 mb-2 medium-large-text stroke text-center">
                <!-- health icon -->
                <li class="mt-lg-2 fire stroke">
                    <span class="fa-stack stat-icon fa-fw">
                        <i class="fas fa-stack-1x fa-heart"></i>
                        <span
                            class="fa-stack-1x fa-inverse stat-number">{{ player.health_current }}</span>
                    </span>
                </li>
                <!-- lightning defence -->
                <li class="mt-lg-2 lightning stroke">
                    <span class="fa-stack stat-icon fa-fw">
                        <i class="fas fa-stack-1x fa-shield-alt"></i>
                        <span class="fa-stack-1x fa-inverse stat-number">{{ player.lightning_defense }}</span>
                    </span>
                </li>
                <!-- fire defence -->
                <li class="mt-lg-2 fire stroke">
                    <span class="fa-stack stat-icon fa-fw">
                        <i class="fas fa-stack-1x fa-shield-alt"></i>
                        <span class="fa-stack-1x fa-inverse stat-number">{{ player.fire_defense }}</span>
                    </span>
                </li>
                <!-- ice defence -->
                <li class="mt-lg-2 ice stroke">
                    <span class="fa-stack stat-icon fa-fw">
                        <i class="fas fa-stack-1x fa-shield-alt"></i>
                        <span class="fa-stack-1x fa-inverse stat-number">{{ player.ice_defense }}</span>
                    </span>
                </li>
                <!-- drain defence -->
                <li class="mt-lg-2 drain stroke">
                    <span class="fa-stack stat-icon fa-fw">
                        <i class="fas fa-stack-1x fa-shield-alt"></i>
                        <span class="fa-stack-1x fa-inverse stat-number">{{ player.drain_defense }}</span>
                    </span>
                </li>
                <!-- golem defence -->
                <li class="mt-lg-2 golem stroke">
                    <span class="fa-stack stat-icon fa-fw">
                        <i class="fas fa-stack-1x fa-shield-alt"></i>
                        <span class="fa-stack-1x fa-inverse stat-number">{{ player.physical_defense }}</span>
                    </span>
                </li>
                <!-- mana -->
                <li class="mt-lg-2 mana stroke">
                    <span class="fa-stack stat-icon fa-fw">
                        <i class="fas fa-stack-1x fa-flask"></i>
                        <span
                            class="fa-stack-1x fa-inverse stat-number">{{ player.mana_current }}</span>
                    </span>
                </li>
            </ul>
        </div>
        <!-- main battle screen -->
        <div class="col-12 z0 h-75 battle-screen">
            <div class="row h-100">
                <!-- player -->
                <div class="col-4 h-100 d-flex justify-content-end align-items-center">
                    <img src="{{MEDIA_URL}}{{ player.type.image_idle.name }}" class="player-image" alt="player">
                </div>
                <!-- enemies -->
                <div class="col-8 h-100 d-flex">
                    <div class="row">
                        {% for gamefloor_enemy in current_game_floor.enemy.all %}
                        {% if forloop.counter|divisibleby:"2" %}
                        <!-- !! first classname needs to be the gamefloor_enemy for javascript to function -->
                        <div class="{{ gamefloor_enemy }} {{ gamefloor_enemy.has_attacked }} {{ forloop.counter }} col-4 game-floor-enemy mt-4 align-self-center" data-enemy="{{ gamefloor_enemy.enemy }}">
                            <div class="row">
                                {% for enemy in enemies %}
                                {% if enemy|lower == gamefloor_enemy.enemy|lower %}
                                <img class="enemy-image position-relative enemy-image-upper"
                                    src="{{MEDIA_URL}}{% if gamefloor_enemy.health_current > 0 %}{{ enemy.image_idle }}{% else %}{{ enemy.image_die }}{% endif %}" alt="{{enemy}} image">
                                <div class="col-12 z10">
                                    <div class="row">
                                        <div class="col-2 offset-4 enemy-stats">
                                            <!-- health icon -->
                                            <span class="fa-stack fire text-center stroke enemy-health-icon fa-fw">
                                                <i class="fas fa-stack-1x fa-heart"></i>
                                                <span
                                                    class="fa-stack-1x fa-inverse enemy-health-current stat-number">{{ gamefloor_enemy.health_current }}</span>
                                            </span>
                                        </div>
                                        <div class="col-2">
                                            <!-- attack icon -->
                                            <div class="enemy-action-effect">
                                                <span><img class="position-relative enemy-action-image"
                                                        src="{{MEDIA_URL}}sword_{{ gamefloor_enemy.get_skill_style_display|lower }}.svg"
                                                        alt="lightning attack"></span>
                                                <span
                                                    class="position-relative fa-inverse enemy-attack-stat-number stroke">{{ gamefloor_enemy.attack_power }}</span>
                                            </div>
                                        </div>
                                        <div class="col-2 offset-1">
                                            <!-- attack phase indicator-->
                                            <span
                                                class="enemy-attack-phase-icon fa-inverse stroke">{{ gamefloor_enemy.get_attack_phase_display }}</span>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% else %}
                        <!-- !! first classname needs to be the gamefloor_enemy for javascript to function -->
                        <div
                            class="{{ gamefloor_enemy }} {{ gamefloor_enemy.has_attacked }} {{ forloop.counter }} col-4 game-floor-enemy
                            {% if current_game_floor.enemy.all|length == 1 %} offset-4 align-self-center 
                            {% elif current_game_floor.enemy.all|length == 2 %} offset-2 align-self-end 
                            {% else %} align-self-end 
                            {% endif %}" data-enemy="{{ gamefloor_enemy.enemy }}">
                            <div class="row">
                                {% for enemy in enemies %}
                                {% if enemy|lower == gamefloor_enemy.enemy|lower %}
                                <div class="col-12 enemy-stats-bar z10">
                                    <div class="row">
                                        <div class="col-2 offset-3 text-center enemy-stats">
                                            <!-- health icon -->
                                            <span class="fa-stack fire text-center stroke enemy-health-icon fa-fw">
                                                <i class="fas fa-stack-1x fa-heart"></i>
                                                <span
                                                    class="fa-stack-1x fa-inverse enemy-health-current stat-number">{{ gamefloor_enemy.health_current }}</span>
                                            </span>
                                        </div>
                                        <div class="col-2 text-center">
                                            <!-- attack icon -->
                                            <div class="enemy-action-effect">
                                                <span><img class="position-relative enemy-action-image"
                                                        src="{{MEDIA_URL}}sword_{{ gamefloor_enemy.get_skill_style_display|lower }}.svg"
                                                        alt="lightning attack"></span>
                                                <span
                                                    class="position-relative fa-inverse enemy-attack-stat-number stroke">{{ gamefloor_enemy.attack_power }}</span>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <!-- attack phase indicator-->
                                            <span
                                                class="enemy-attack-phase-icon position-relative fa-inverse stroke">{{ gamefloor_enemy.get_attack_phase_display }}</span>
                                        </div>
                                    </div>
                                </div>
                                <img class="position-relative enemy-image-lower pb-4 enemy-image"
                                    src="{{MEDIA_URL}}{% if gamefloor_enemy.health_current > 0 %}{{ enemy.image_idle }}{% else %}{{ enemy.image_die }}{% endif %}" alt="{{enemy}} image">
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Card screen -->
        <div class="col-12 {% if not game.game_step == '1' %}d-none{% endif %} h-100 z2000 card-screen">
            <div class="row display-flex justify-content-center">
                <!-- cards -->
                {% for player_card in player.hand.all %}
                <div class="col-2 m-1 p-1 skill-card">
                    {% for card in cards %}
                    {% if player_card|lower == card.title|lower %}
                    <div class="row card-title-row m-0">
                        <!--  phase -->
                        <div class="col-2 p-0">
                            <h3 class="text-center m-0 align-middle card-title">{{ card.get_allowed_in_phase_display }}
                            </h3>
                        </div>
                        <!-- title -->
                        <div class="col-8 p-0">
                            <h2 class="text-center align-middle m-0 card-title">{{ card.title }}</h2>
                        </div>
                        <!-- skill style -->
                        <div class="col-2 p-0">
                            {% if card.skill_style|lower == "hl" %}
                            <span><i
                                    class="card-style-icon fas fa-heart fire align-middle text-center stroke"></i></span>
                            {% elif card.skill_style|lower == "ln" %}
                            <span><i
                                class="card-style-icon fas fa-bolt {{ card.get_skill_style_display|lower }} align-middle text-center stroke"></i></span>
                            {% elif card.skill_style|lower == "gl" %}
                            <span><i
                                class="card-style-icon fas fa-robot {{ card.get_skill_style_display|lower }} align-middle text-center stroke"></i></span>
                            {% elif card.skill_style|lower == "dr" %}
                            <span><i
                                class="card-style-icon fas fa-skull {{ card.get_skill_style_display|lower }} align-middle text-center stroke"></i></span>
                            {% elif card.skill_style|lower == "ic" %}
                            <span><i
                                class="card-style-icon fas fa-snowflake {{ card.get_skill_style_display|lower }} align-middle text-center stroke"></i></span>
                            {% elif card.skill_style|lower == "mn" %}
                            <span><i
                                class="card-style-icon fas fa-flask {{ card.get_skill_style_display|lower }} align-middle text-center stroke"></i></span>
                            {% else %}   
                            <span><i
                                    class="card-style-icon fas fa-fire-alt {{ card.get_skill_style_display|lower }} align-middle text-center stroke"></i></span>
                            {% endif %}
                        </div>
                    </div>
                    <!-- card image -->
                    <div class="row m-0 card-image-row">
                        <img class="card-image" src="{{MEDIA_URL}}{{ card.image.name }}" alt="{{card}} image">
                    </div>
                    <!-- card effect text -->
                    <div class="row m-0 card-effect-row">
                        <div class="col-12 px-1 mb-1 card-effect">
                            <h3 class="text-center card-effect-text">{{ card.effect_text }}</h3>
                        </div>
                    </div>
                    <!-- card description -->
                    <div class="row m-0 card-description-row">
                        <p class="text-center card-description-text">{{ card.description }}</p>
                    </div>
                    <!-- card effect -->
                    <div class="row card-effect-row m-0">
                        <!-- card effect -->
                        <div class="col-3 p-0">
                            <!-- attack modifier -->
                            {% if card.attack_modifier  %}
                                <!-- attack all -->
                                {% if card.attack_all  %}
                                <i class="position-absolute fas mt-2 fa-infinity fa-inverse card_attack_all stroke"></i>
                                {% endif %}
                                <span><img
                                        class="position-absolute {% if not card.attack_all %}mt-1 {% endif %}card_action_effect"
                                        src="{{MEDIA_URL}}sword_{{ card.get_skill_style_display|lower }}.svg"
                                        alt="{{ card.get_skill_style_display|lower }} attack"></span>
                                <span
                                    class="position-absolute px-1 {% if not card.attack_all %} {% endif %}fa-inverse text-center card-stat-number stroke">+{{ card.attack_modifier }}</span>
                                {% else %}
                                  <!-- heal modifier -->
                                  {% if card.healing_modifier  %}
                                  <span class="fa-stack medium-small-text fire stroke card-heal-icon fa-fw">
                                      <i class="fas fa-stack-1x fa-heart"></i>
                                      <span
                                          class="fa-stack-1x fa-inverse card-stat-number">+{{ card.healing_modifier }}</span>
                                  </span>
                                  {% endif %}
                                  <!-- health modifier -->
                                  {% if card.health_modifier  %}
                                  <span class="fa-stack fire stroke card-heal-icon fa-fw">
                                      <i class="fas medium-small-text fa-stack-1x fa-heart"></i>
                                      <span
                                          class="fa-stack-1x fa-inverse card-stat-number">+{{ card.health_modifier }}</span>
                                  </span>
                                  {% endif %}
                                  <!-- mana modifier -->
                                  {% if card.mana_modifier  %}
                                  <span class="fa-stack card-cost-icon mana stroke fa-fw">
                                    <i class="fas medium-small-text fa-stack-1x fa-flask"></i>
                                    <span class="fa-stack-1x fa-inverse card-stat-number">+{{ card.mana_modifier }}</span>
                                </span>
                                  {% endif %}
                            {% endif %}
                            <!-- defence modifier -->
                            {% if card.defence_modifier  %}
                            <span class="fa-stack medium-small-text stat-icon fa-fw {{ card.get_skill_style_display|lower }} stroke">
                                <i class="fas fa-stack-1x fa-shield-alt"></i>
                                <span class="fa-stack-1x fa-inverse card-stat-number">{{ card.defence_modifier }}</span>
                            </span>
                            {% endif %}
                        </div>
                        <div class="col-6 p-0">
                            <div class="row">
                                <div class="col-6 p-0">
                                    {% if card.attack_modifier  %}
                                    <!-- heal modifier -->
                                    {% if card.healing_modifier  %}
                                    <span class="fa-stack fire stroke card-heal-icon fa-fw">
                                        <i class="fas medium-small-text fa-stack-1x fa-heart"></i>
                                        <span
                                            class="fa-stack-1x fa-inverse card-stat-number">+{{ card.healing_modifier }}</span>
                                    </span>
                                    {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-6">
                                </div>
                            </div>
                        </div>
                        <!-- card cost -->
                        <div class="col-3 p-0">
                            {% if card.mana_cost %}
                            <span class="fa-stack card-cost-icon mana stroke fa-fw">
                                <i class="fas medium-small-text fa-stack-1x fa-flask"></i>
                                <span class="fa-stack-1x fa-inverse card-stat-number">{{ card.mana_cost }}</span>
                            </span>
                            {% endif %}
                            {% if card.cards_discard_cost %}
                            <span>{{ card.cards_discard_cost }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <!-- card select button -->
                    <div class="row">
                        <div class="col-12 text-center">
                            <form method="POST" action="{% url 'battle:card-select' player_card.id %}">
                                {% csrf_token %}
                                <button type="submit" name="card-select" class="button small-text px-3">play</button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% if forloop.counter|divisibleby:"4" %}
            </div>
            <div class="row display-flex justify-content-center">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- action selection bar -->
        <div class="col-12">
            <div class="row z500 d-flex fixed-bottom justify-content-center">
                <div class="col-12 px-4 ml-4 mb-2 action-bar">
                    <div class="row d-flex justify-content-between">
                        <!-- lightning action icon -->
                        <div class="action-icon-button col px-2 m-lg-2">
                            <div class="row">
                                <!-- !! first classname needs to be the action name for javascript to function -->
                                <i class="lightning fas m-2 action-icon fa-bolt 
                                    {% if current_game_floor.get_current_phase_display|lower != player.get_lightning_attack_phase_display|lower %}text-muted {% endif %}
                                    {% if not player.lightning_attack_power %}text-muted {% endif %}
                                    {% if player.lightning_attack_cost > player.mana_current %}text-muted {% endif %}
                                    stroke"></i>
                            </div>
                            <div class="row action-stats">
                                <div class="col p-1 position-relative">
                                    <span><img class="position-absolute action-effect"
                                            src="{{MEDIA_URL}}sword_lightning.svg" alt="lightning attack"></span>
                                    <span
                                        class="position-absolute fa-inverse stat-number stroke">{{ player.lightning_attack_power }}</span>
                                </div>
                                <div class="col p-1 position-relative">
                                    <i class="position-absolute fas action-cost mana medium-text fa-flask stroke"></i>
                                    <span
                                        class="position-absolute fa-inverse stat-number stroke">{{ player.lightning_attack_cost }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- fire action icon -->
                        <div class="action-icon-button col px-2 m-lg-2">
                            <div class="row">
                                <!-- !! first classname needs to be the action name for javascript to function -->
                                <i class="fire fas m-2 action-icon fa-fire-alt
                                    {% if current_game_floor.get_current_phase_display|lower != player.get_fire_attack_phase_display|lower %}text-muted {% endif %}
                                    {% if not player.fire_attack_power %}text-muted {% endif %}
                                    {% if player.fire_attack_cost > player.mana_current %}text-muted {% endif %}
                                    stroke"></i>
                            </div>
                            <div class="row action-stats">
                                <div class="col p-1 position-relative">
                                    <span><img class="position-absolute action-effect" src="{{MEDIA_URL}}sword_fire.svg"
                                            alt="fire attack"></span>
                                    <span
                                        class="position-absolute fa-inverse stat-number stroke">{{ player.fire_attack_power }}</span>
                                </div>
                                <div class="col p-1 position-relative">
                                    <i class="position-absolute fas action-cost mana medium-text fa-flask stroke"></i>
                                    <span
                                        class="position-absolute fa-inverse stat-number stroke">{{ player.fire_attack_cost }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- ice action icon -->
                        <div class="action-icon-button col px-2 m-lg-2">
                            <div class="row">
                                <!-- !! first classname needs to be the action name for javascript to function -->
                                <i class="ice fas m-2 action-icon fa-snowflake 
                                            {% if current_game_floor.get_current_phase_display|lower != player.get_ice_attack_phase_display|lower %}text-muted {% endif %}
                                            {% if not player.ice_attack_power %}text-muted {% endif %}
                                            {% if player.ice_attack_cost > player.mana_current %}text-muted {% endif %}
                                    stroke"></i>
                            </div>
                            <div class="row action-stats">
                                <div class="col p-1 position-relative">
                                    <i class="position-absolute fas fa-infinity fa-inverse mt-2 fs-6 stroke"></i>
                                    <span><img class="position-absolute action-effect" src="{{MEDIA_URL}}sword_ice.svg"
                                            alt="ice attack"></span>
                                    <span
                                        class="position-absolute fa-inverse stat-number stroke">{{ player.ice_attack_power }}</span>
                                </div>
                                <div class="col p-1 position-relative">
                                    <i class="position-absolute fas action-cost mana medium-text fa-flask stroke"></i>
                                    <span
                                        class="position-absolute fa-inverse stat-number stroke">{{ player.ice_attack_cost }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- heal action icon -->
                        <div class="action-icon-button col px-2 m-lg-2">
                            <div class="row">
                                <!-- !! first classname needs to be the action name for javascript to function -->
                                <i
                                    class="healing fas m-2 action-icon fa-heart 
                                    {% if not player.healing_power %}text-muted {% endif %}
                                    {% if player.healing_cost > player.mana_current %}text-muted {% endif %}
                                    stroke"></i>
                            </div>
                            <div class="row action-stats">
                                <div class="col p-1 position-relative">
                                    <span><i class="position-absolute fas fa-heart fire stroke fs-3"></i></span>
                                    <span
                                        class="position-absolute fa-inverse stat-number stroke">{{ player.healing_power }}</span>
                                </div>
                                <div class="col p-1 position-relative">
                                    <i class="position-absolute fas action-cost mana medium-text fa-flask stroke"></i>
                                    <span
                                        class="position-absolute fa-inverse stat-number stroke">{{ player.healing_cost }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- drain action icon -->
                        <div class="action-icon-button col px-2 m-lg-2">
                            <div class="row">
                                <!-- !! first classname needs to be the action name for javascript to function -->
                                <i
                                    class="drain fas m-2 action-icon fa-skull 
                                    {% if not player.drain_attack_power %}text-muted {% endif %}
                                    {% if player.drain_attack_cost > player.mana_current %}text-muted {% endif %}
                                    stroke"></i>
                            </div>
                            <div class="row action-stats">
                                <div class="col p-1 position-relative">
                                    <span><i class="position-absolute fas fa-heart fire stroke fs-3"></i></span>
                                    <span><img class="position-absolute action-effect"
                                            src="{{MEDIA_URL}}sword_drain.svg" alt="drain attack"></span>
                                    <span
                                        class="position-absolute fa-inverse stat-number stroke">{{ player.drain_attack_power }}</span>
                                </div>
                                <div class="col p-1 position-relative">
                                    <i class="position-absolute fas action-cost mana medium-text fa-flask stroke"></i>
                                    <span
                                        class="position-absolute fa-inverse stat-number stroke">{{ player.drain_attack_cost }}</span>
                                </div>
                            </div>
                        </div>

                        <!-- golem action icon -->
                        <div class="action-icon-button col px-2 m-lg-2">
                            <div class="row">
                                <!-- !! first classname needs to be the action name for javascript to function -->
                                <i class="golem fas m-2 action-icon fa-robot 
                                    {% if current_game_floor.get_current_phase_display|lower != player.get_golem_attack_phase_display|lower %}text-muted {% endif %}
                                    {% if not player.golem_attack_power %}text-muted {% endif %}
                                    {% if player.golem_attack_cost > player.mana_current %}text-muted {% endif %}
                                    stroke"></i>
                            </div>
                            <div class="row action-stats">
                                <div class="col p-1 position-relative">
                                    <span><img class="position-absolute action-effect"
                                            src="{{MEDIA_URL}}sword_golem.svg" alt="golem attack"></span>
                                    <span
                                        class="position-absolute fa-inverse stat-number stroke">{{ player.golem_attack_power }}</span>
                                </div>
                                <div class="col p-1 position-relative">
                                    <i class="position-absolute fas action-cost mana medium-text fa-flask stroke"></i>
                                    <span
                                        class="position-absolute fa-inverse stat-number stroke">{{ player.golem_attack_cost }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- skip action -->
                        <div class="action-icon-button col m-lg-2">
                            <div class="row">
                                <!-- !! first classname needs to be the action name for javascript to function -->
                                <i class="skip fas m-2 action-icon fa-forward lightning text-primary stroke"></i>
                            </div>
                            <div class="row action-stats">
                                <div class="col p1 position-relative">
                                    <span class="position-absolute medium-text fa-inverse stat-skip stroke">Skip</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if player.health_current == 0 %}
<!-- death screen overlay-->
<div class="container-fluid next-level-screen">
    <div class="row h-100 display-flex justify-content-center align-items-center">
        <div class="col-10 col-lg-5 p-lg-5 p-2 text-center menu-banner medium-text">
            <h2>Bummer, u failed this level.</h2>
            <h3 class="medium-text">You will go back down one floor.<br>
                Play more cards, to become stronger.<br>
                And conquer the tower of huberis!
            </h3>
            <!-- Back one level button -->
            <div class="row">
                <div class="col-8 offset-2 text-center">
                    <a class="m-3 p-1 button small-text px-3" href="{% url 'profiles:player-death' %}">I can do this..</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}