{% extends "base.html" %}

{% block header %}
{% include "../includes/header.html" %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row menu-banner mb-4 mt-3">
        <div class="col-12">
            <h2 class="text-center m-4">How to play</h2>
        </div>
        <div class="col-12 col-lg-6 p-4">
            <p class="h4 mb-3">The objective of huberis is to get to the top level of the magic tower as fast as u can.
            </p>
            <p class="h4 mb-3"><b>step 1:</b> Select a card from your hand to play, increasing your stats for the next
                battle. after that, u
                discard one card.</p>
            <p class="h4 mb-3"><b>step 2:</b> The huberis phase, do you think u got what it takes to level up? Getting
                to the
                top of the tower
                as fast as u can is your goal, but dying means u go down a level and lose a chance to upgrade.</p>
            <p class="h4 mb-3"><b>step 3:</b> fight phase 1 to 4</p>
            <p class="h4 mb-3">In each phase u will be given the option to cast a spell or skip to the next phase. each
                spell
                has
                different phases in wich u can use them. And enemis have their own phases in wich they attack.</p>
            <p class="h4 mb-3">Keep an eye on your mana supply and plan your attacks carefully. You need to kill all
                enemies
                before the
                end of phase 4, not getting killed in the process....</p>
        </div>
        <div class="col-12 col-lg-6 p-4">
            <div class="row mb-2">
                <div class="col-12">
                    <img src="{{ MEDIA_URL }}screenshot_600_337.png" width="100%" alt="game preview">
                </div>
            </div>
            <p class="h4 mb-3"><b>step 4:</b> Each kill gets u a certain number of xp, u get an extra card at 5 xp,
                10xp,
                15xp, 20xp. the counter is set to 0 when u recieve an extra card.</p>
            <p class="h4 mb-3"><b>step 5:</b> draw 2 new cards plus the ones u earned with the xp count.
                and reduce your hand to 8 cards.</p>
        </div>
    </div>
    <div class="row m-4 d-block d-lg-none d-flex justify-content-center">
        <div class="col-12 col-md-4">
            <div class="d-grid gap-2">
                <a class="button text-center" href="{% url 'home:main_menu' %}">
                    <h2 class="m-1">Main menu</h2>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}